<div class="row justify-content-center">
  <div class="col-11 warning-error my-3 p-3"
       *ngIf="haveError">
    {{ errorMessage }}
  </div>
</div>

<div class="container"
     *ngIf="!haveError">

  <div class="row product-title">
    <div class="col-12 mt-4 px-0 mx-0 text-center">
      {{ productData.title }}
    </div>
  </div>

  <div class="row justify-content-between mt-3">
    <div class="col-2 justify-content-start px-0 mx-0">
      <button class="btn btn-light"
              (click)="goBackToList()">
        <i class="material-icons align-bottom">
          keyboard_arrow_left
        </i>
        List
      </button>
    </div>
    <div class="col-3 text-right m-0 p-0">
      <button class="btn btn-light">
        <i class="material-icons align-bottom">
          favorite
        </i>
      </button>
      <button class="btn btn-light"
              (click)="addOrRemoveFromWishList(productData.productId)">
        <i class="material-icons align-bottom"
           *ngIf="!searchResultData.inWishList">
          add_shopping_cart
        </i>
        <i class="material-icons wish-list-active align-bottom"
           *ngIf="searchResultData.inWishList">
          remove_shopping_cart
        </i>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12 px-0 mx-0">
      <ul class="nav nav-tabs justify-content-end"
          id="myTab"
          role="tablist">
        <li class="nav-item">
          <a class="nav-link cursor active"
             [class.active]="activeTabState == productTabState.ProductTab"
             (click)="switchTo(productTabState.ProductTab)">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor"
             [class.active]="activeTabState == productTabState.PhotosTab"
             (click)="switchTo(productTabState.PhotosTab)">Photos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor"
             [class.active]="activeTabState == productTabState.ShippingTab"
             (click)="switchTo(productTabState.ShippingTab)">Shipping</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor"
             [class.active]="activeTabState == productTabState.SellerTab"
             (click)="switchTo(productTabState.SellerTab)">Seller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor"
             [class.active]="activeTabState == productTabState.SimilarProductsTab"
             (click)="switchTo(productTabState.SimilarProductsTab)">{{ similarProductTabString }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12 px-0 mx-0">
      <app-information *ngIf="activeTabState == productTabState.ProductTab"></app-information>
      <app-photos *ngIf="activeTabState == productTabState.PhotosTab"></app-photos>
      <app-shipping *ngIf="activeTabState == productTabState.ShippingTab"></app-shipping>
      <app-seller *ngIf="activeTabState == productTabState.SellerTab"></app-seller>
      <app-similar-products *ngIf="activeTabState == productTabState.SimilarProductsTab"></app-similar-products>
    </div>
  </div>

</div>
