:root {
    --page_width: 725px;
}

body {
    margin: 0;
    color: #ffffff;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
}

#main_body {
    perspective: 1px;
    height: 100%;
    width: var(--page_width);
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

#parallax_back_1 {
    position: absolute;
    background-image: url("./images/snow1.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1000px 670px;
    height: 700px;
    width: var(--page_width);
    z-index: 1;
    object-fit: contain;
    top: -50px;
    transform: translateZ(-3px) scale(4);
}

#parallax_blur_layer {
    position: absolute;
    z-index: 2;
    background: black;
    opacity: 0.1;
    width: var(--page_width);
    height: 1850px;
    transform: translateZ(-3px) scale(4);
}

#parallax_front {
    width: var(--page_width);
    height: 100%;
    position: absolute;
    z-index: 3;
    transform: translateZ(-1px) scale(2);
}

#header_title {
    position: absolute;
    left: 60px;
    top: 23px;
    font-size: 20px;
    letter-spacing: 5px;
}

#header_menu > ul {
    list-style-type: none;
    position: absolute;
    left: 387px;
    top: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    opacity: 0.8;
    font-size: 8px;
    letter-spacing: 1.8px;
}

#header_menu li {
    padding-right: 6px;
    padding-left: 5px;
    display: inline;
}

#content_heading1 {
    position: absolute;
    font-family: FuturaPTW01-demi;
    left: 205px;
    top: 156px;
    font-size: 65px;
    text-align: center;
    width: 300px;
    font-weight: 400;
    font-stretch: expanded;
    letter-spacing: 2px;
}

#content_heading2 {
    position: absolute;
    font-family: FuturaPTW01-demi;
    left: 215px;
    top: 225px;
    font-size: 62px;
    text-align: center;
    width: 300px;
    font-weight: 400;
    font-stretch: expanded;
    letter-spacing: 4px;
}

#content {
    position: absolute;
    left: 172px;
    top: 341px;
    font-size: 13px;
    text-align: center;
    font-weight: 300;
    width: 380px;
    letter-spacing: 1px;
    line-height: 175%;
}

#button {
    position: absolute;
    left: 312px;
    top: 452px;
    font-size: 8.5px;
    text-align: center;
    width: 100px;
    height: 37px;
    color: black;
    letter-spacing: 1px;
    background-color: #ffffff;
}

#button > p {
    padding-top: 4px;
}

#front_middle {
    position: absolute;
    top: 608px;
    background-color: #ffffff;
    height: 855px;
    width: var(--page_width);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#image_container {
    margin-top: 60px;
    margin-left: 60px;
    display: flex;
    flex-flow: wrap;
    width: 602px;
    height: 613px;
    justify-content: space-between;
    align-content: space-between;
}

#img1 {
    background-image: url("./images/snow2.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 447px 300px;
    object-fit: contain;
    height: 300px;
    width: 295px;
}

#img2 {
    background-image: url("./images/snow3.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 447px 300px;
    object-fit: contain;
    height: 300px;
    width: 295px;
}

#img3 {
    background-image: url("./images/snow4.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 447px 300px;
    object-fit: contain;
    height: 300px;
    width: 295px;
}

#img4 {
    background-image: url("./images/snow5.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 447px 300px;
    object-fit: contain;
    height: 300px;
    width: 295px;
}

#middle_text_container {
    font-size: 9.3px;
    color: #000000;
    width: 340px;
    line-height: 175%;
    opacity: 0.5;
    margin-top: 20px;
    margin-left: 217px;
}

#front_bottom {
    position: absolute;
    top: 1400px;
    height: 600px;
    width: var(--page_width);
    flex-direction: column;
    z-index: 0;
}

#front_bottom_content {
    position: absolute;
    top: 330px;
    left: 170px;
    font-size: 13px;
    text-align: center;
    font-weight: 300;
    width: 390px;
    letter-spacing: 1px;
    line-height: 175%;
}

#front_last {
    position: absolute;
    top: 2060px;
    background-color: #ffffff;
    height: 100px;
    width: var(--page_width);
    z-index: 1;
}

#parallax_back_2 {
    position: absolute;
    top: 2850px;
    background-image: url("./images/snow6.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1150px 700px;
    height: 700px;
    width: var(--page_width);
    z-index: 0;
    object-fit: contain;
    transform: translateZ(-3px) scale(4);
}