/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.page-link {
  border: none;
  color: black;
  font-weight: 500;
}

.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: black;
  border: none;
}

.page-link:hover {
  z-index: 0;
  color: black;
  text-decoration: underline;
  background-color: #e6e6e6;
  border: none;
}

body {
  font-size: 14px;
}

.table-dark {
  background-color: #1e2024;
}

.table-dark td,
.table-dark th,
.table-dark thead th {
  border-color: #323435;
}

.table-dark tr:hover {
  background-color: #2c2e32;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: #27292d;
}

.table-dark.table-striped tbody tr:nth-of-type(odd):hover {
  background-color: #2c2e32;
}

.highlight-row {
  background-color: #bec0c2 !important;
}

.highlight-row:hover {
  background-color: #b0b2b6 !important;
}

.imgCell {
  width: 90px;
  height: 90px;
  object-fit: fill;
  padding: 0.5px;
}

.warning-error {
  background-color: #fff1c7;
  color: #6e5b20;
  border-radius: 2px;
}

.tooltip-inner {
  background-color: #3d3d3d;
}

.table-title {
  color: #22549b;
  font-weight: bold;
}

.table-title:hover {
  text-decoration: underline;
}

.table-title:active {
  cursor: pointer;
}

.material-icons.wish-list-active {
  color: #ad7a04;
}

.btn-light:active,
.btn-light:focus {
  box-shadow: none;
  text-shadow: none;
}

.product-title {
  font-weight: 600;
  font-size: 17px
}

.material-icons.tick {
  color: #25662a;
  font-size: 22px;
}

.material-icons.cross {
  color: #e30408;
  font-size: 22px;
}

.custom-a-link,
.custom-a-link:active,
.custom-a-link:hover,
.custom-a-link:visited {
  color: #5c7d7b;
}

.word-break-all {
  word-wrap: break-word;
  word-break: break-all;
}
