<div class="row justify-content-center">
  <div class="col-12 warning-error p-3 mt-2 mx-0 px-0"
       *ngIf="haveError">
    {{ errorMessage }}
  </div>
</div>

<div class="row info-panel"
     *ngIf="!haveError">
  <div class="col-12 col-lg-4 px-2 px-lg-0 mx-0">
    <a [href]="googleImages[0]"
       target="_blank"
       *ngIf="googleImages.length > 0">
      <img class="img-fluid image-border mt-2"
           [src]="googleImages[0]">
    </a>
    <a [href]="googleImages[3]"
       target="_blank"
       *ngIf="googleImages.length > 3">
      <img class="img-fluid image-border mt-2"
           [src]="googleImages[3]">
    </a>
  </div>

  <div class="col-12 col-lg-4 px-2 mx-0">
    <a [href]="googleImages[1]"
       target="_blank"
       *ngIf="googleImages.length > 1">
      <img class="img-fluid image-border mt-2"
           [src]="googleImages[1]">
    </a>
    <a [href]="googleImages[4]"
       target="_blank"
       *ngIf="googleImages.length > 4">
      <img class="img-fluid image-border mt-2"
           [src]="googleImages[4]">
    </a>
    <a [href]="googleImages[6]"
       target="_blank"
       *ngIf="googleImages.length > 6">
      <img class="img-fluid image-border mt-2"
           [src]="googleImages[6]">
    </a>
  </div>

  <div class="col-12 col-lg-4 px-2 px-lg-0 mx-0">
    <a [href]="googleImages[2]"
       target="_blank"
       *ngIf="googleImages.length > 2">
      <img class="img-fluid image-border mt-2"
           [src]="googleImages[2]">
    </a>
    <a [href]="googleImages[5]"
       target="_blank"
       *ngIf="googleImages.length > 5">
      <img class="img-fluid image-border mt-2"
           [src]="googleImages[5]">
    </a>
    <a [href]="googleImages[7]"
       target="_blank"
       *ngIf="googleImages.length > 7">
      <img class="img-fluid image-border mt-2"
           [src]="googleImages[7]">
    </a>
  </div>
</div>
